<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>晚餐</string>
		<key>icon</key>
		<string>17.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>吃喝</string>
		<key>icon</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>交通</string>
		<key>icon</key>
		<string>4.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>服饰</string>
		<key>icon</key>
		<string>5.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>日用品</string>
		<key>icon</key>
		<string>6.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>水电费</string>
		<key>icon</key>
		<string>7.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>电话费</string>
		<key>icon</key>
		<string>8.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>住宿</string>
		<key>icon</key>
		<string>9.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>孩子</string>
		<key>icon</key>
		<string>10.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>教育</string>
		<key>icon</key>
		<string>11.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>医疗</string>
		<key>icon</key>
		<string>12.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>数码</string>
		<key>icon</key>
		<string>13.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>宠物</string>
		<key>icon</key>
		<string>14.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>早餐</string>
		<key>icon</key>
		<string>15.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>午餐</string>
		<key>icon</key>
		<string>16.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>夜宵</string>
		<key>icon</key>
		<string>18.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>零食水果</string>
		<key>icon</key>
		<string>19.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>买菜</string>
		<key>icon</key>
		<string>20.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>烟酒</string>
		<key>icon</key>
		<string>21.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>化妆护肤</string>
		<key>icon</key>
		<string>22.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>网购</string>
		<key>icon</key>
		<string>23.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>超市</string>
		<key>icon</key>
		<string>24.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>网费</string>
		<key>icon</key>
		<string>25.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>养车</string>
		<key>icon</key>
		<string>26.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>礼物</string>
		<key>icon</key>
		<string>27.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>麻将</string>
		<key>icon</key>
		<string>28.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>彩票</string>
		<key>icon</key>
		<string>29.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>人情</string>
		<key>icon</key>
		<string>30.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>0</integer>
		<key>name</key>
		<string>发红包</string>
		<key>icon</key>
		<string>31.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>1</integer>
		<key>name</key>
		<string>工资</string>
		<key>icon</key>
		<string>10001.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>1</integer>
		<key>name</key>
		<string>奖金</string>
		<key>icon</key>
		<string>10002.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>1</integer>
		<key>name</key>
		<string>兼职</string>
		<key>icon</key>
		<string>10003.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>1</integer>
		<key>name</key>
		<string>投资</string>
		<key>icon</key>
		<string>10004.png</string>
	</dict>
	<dict>
		<key>income</key>
		<integer>1</integer>
		<key>name</key>
		<string>收红包</string>
		<key>icon</key>
		<string>10005.png</string>
	</dict>
</array>
</plist>
